<head>
<title>EC2 Instance</title>
</head>

<style>
body {font-family: Arial, Helvetica, sans-serif;}
h3   {color: blue;}
.meta   {font-size: 16px;
		 margin-left: 80px;
		 color: black;
		 font-family: Arial, Helvetica, sans-serif;}
</style>

<body>
<h1>{{.Greeting}}</h1>
<h3>	InstanceId 			</h3> <div class='meta'>{{.InstanceId}}</div>
<h3>    InstanceType 		</h3> <div class='meta'>{{.InstanceType}}</div>
<h3>	PrivateIp 			</h3> <div class='meta'>{{.PrivateIp}}</div>
<h3>	AvailabilityZone 	</h3> <div class='meta'>{{.AvailabilityZone}}</div>
<h3>    Public hostname      </h3> <div class='meta'>{{.PublicIp}}</div>
</body>